[**LiteShip**](../../../../../README.md)

***

[LiteShip](../../../../../modules.md) / [core/src](../../../README.md) / [Plan](../README.md) / ValidationResult

# Type Alias: ValidationResult

> **ValidationResult** = `PlanValidationResult`

Defined in: [core/src/plan.ts:318](https://github.com/freebatteryfactory/LiteShip/blob/main/packages/core/src/plan.ts#L318)

Alias for `PlanValidationResult`.
